{% extends "admin/base_site.html" %}
{% block content %}
  <h1>{{form.title}}</h1>
  <form method="post">{% csrf_token %}
    <div style="display: grid; justify-items: stretch; align-items: center; grid-template-columns: auto 1fr; text-align: end">
      {% for field in form %}
        {% if field.name == "command" %}
          {{field.label_tag}}
          <select
            name="{{field.name}}"
            id="{{field.id_for_label}}"
            {% if field.field.required %}required{% endif %}
            onchange="this.form.querySelector('#{{form.usage.id_for_label}}').value = this.selectedOptions[0].dataset.helpText;"
          >
            <option value="" data-help-text="">Choose a command</option>
            {% for group,options in field.optgroups.items %}
              <optgroup label="{{group}}">
                {% for option,help_text in options %}
                  <option data-help-text="{{help_text}}">{{option}}</option>
                {% endfor %}
              </optgroup>
            {% endfor %}
          </select>
          {{field.errors}}
        {% else %}
          {{ field.label_tag }}
          {{ field }}
        {{ field.errors }}
        {% endif %}
      {% endfor %}
    <input style="grid-column: span 2" type="submit" value="Run Command" class="default">
  </form>
  <p><a href="../">Back</a></p>
{% endblock %}
